:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.exercise-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .exercise-title {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .question-index {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}