$primary-color: coral;
$primary-color-light: #ff7f500e;
$primary-color-dark: #e26e44;
$text-color-secondary: white;
$text-color-primary: #333;
$font-family: 'Karla', sans-serif;


$header-height: 70px;