$primary-color: coral;
$primary-color-light: #e0e0e036;
$primary-color-dark: #e26e44;
$text-color-secondary: white;
$text-color-primary: #333;
$font-family: 'Karla', sans-serif;
$font-family-secondary: 'Oleo Script', cursive;


$header-height: 70px;