@import '../../../styles/var.scss';

.header-container {
    width: 100%;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: $text-color-secondary;
    position: relative;

    .header-title {
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .back-button {
        position: absolute;
        left: 0;
        padding: 12.5px;
        margin-left: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            fill: $text-color-secondary;
        }
    
        &:hover {
            background-color: $primary-color-dark;
        }
    }

    .info-button {
        position: absolute;
        right: 0;
        padding: 12.5px;
        margin-right: 10px;
        border-radius: 5px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: $font-family-secondary;
        font-size: 2rem;
        justify-content: center;
    
        &:hover {
            background-color: $primary-color-dark;
        }
    }
}

@media screen and (max-width: 500px) {
    .header-container:not(.header-container-home) {
        justify-content: flex-end;

        .header-title {
            padding-right: 10px;
        }
    }
}