@import '../../../styles/buttons.scss';

.exercise-type-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

    .exercise-type {
        min-width: 300px;
        margin-top: 20px;

        span {
            font-weight: 600;
        }
    }
}