@import '../../../../styles/inputs.scss';
@import '../../../../styles/buttons.scss';
@import '../../../../styles/var.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    height: calc(40vh - #{$header-height});
    justify-content: space-around;
    margin-top: 10vh;

    .question-text {
        font-size: 4rem;
        margin-bottom: 5vh;

        &.question-wrong {
            color: red;
        }
    }

    .answer-form {
        width: 100%;
        display: flex;
        align-items: center;
        max-width: 500px;

        .input-container {
            position: relative;
            flex: 1;
            margin-right: 10px;
            display: flex;

            input {
                flex: 1;
            }

            .error-text {
                position: absolute;
                bottom: calc(-1rem - 10px);
                margin: 0;
                color: $primary-color-dark;
            }
        }
    }

    .next-button {
        width: 80%;
        margin-left: 10%;
    }
}

#test-zone {
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    pointer-events: none;
    opacity: 0;
    width: auto;
}

@media screen and (max-width: 600px) {
    .answer-form-before-answer {
        width: auto !important;
    }
}