@import '../../styles/buttons.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;

    .home-left {
        flex-direction: column;
        flex: 1;
        width: 100%;
        display: flex;
        max-width: 500px;
        max-height: 500px;

        .button-container {
            display: inline-block;
            margin: 0 30px 30px 30px;
    
            .list-name {
                font-style: italic;
            }
        }
    }

    .home-right {
        flex: 1;
        width: 100%;
        height: 100%;
        margin: 30px 30px 30px 0;
    }
}

@media screen and (max-width: 1000px) {
    .home-left {
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .home-container {
        flex-direction: column-reverse;
        justify-content: flex-end;

        .home-left, .home-right {
            flex: initial;
        }

        .home-left {
            max-width: 100%;
            min-height: 50vw;
        }
    }
}