/* You can add global styles to this file, and also import other style files */

@import './app/styles/var.scss';

body {
    margin: 0;
    font-family: $font-family;
    color: $text-color-primary;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}